.header_theme_sir {
    background: #ffffff;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.header_theme_sir .header__text {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    color: #414141;
}

.header_theme_sir .header__controls {
    flex-grow: 0;
    flex-shrink: 0;
}

.header_theme_sir .header__controls .button + .button {
    margin-left: 8px;
}
