.calendar-year__list
{
    background: #f3f5f6;
    margin: 0 264px 0 0;
    padding: 0 40px 0 20px;
    position: relative;
}

.calendar-year__list:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #e5e5e5;
}

.calendar-year .mini-map__thumb
{
    background: #ffffff;
    box-shadow: 0 0 0 1px #e5e5e5;
    z-index: 1;
}

.calendar-year__item
{
    font-size: 14px;
    line-height: 34px;

    white-space: nowrap;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
}

.calendar-year__year
{
    display: inline;

    margin: 0 0 0 0.5em;

    color: #999;
}


.calendar-year__dates
{
    position: absolute;
    top: 47px;
    right: 20px;
    bottom: 6px;

    overflow: hidden;
}

.calendar-year__visible
{
    position: absolute;
    top: 32px;
    bottom: 0;

    overflow-y: scroll;
}

.calendar-year .calendar-month__months
{
    width: 224px;
}

.calendar-year .calendar-month .calendar-month__day-names {
    display: none;
}
