.form__paranja
{
    display: none;

    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9);
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.form_pending .form__paranja
{
    display: block;
}

.form .form__paranja .spin-progress
{
    position: absolute;
    top: 50%;
    left: 50%;

    margin: -19px 0 0 -19px;
}
