.calendar-month__day-names {
    white-space: nowrap;
}

.calendar-month__day-name {
    display: inline-block;
    width: 32px;

    text-align: center;
    text-transform: uppercase;
    font-size: 11px;

    line-height: 32px;
    cursor: default;
}

.calendar-month__day-name_weekend {
    color: #f92400;
}
