.calendar-month__day {
    display: inline-block;

    width: 32px;
    text-align: center;
    text-transform: uppercase;

    font-size: 14px;

    line-height: 32px;
}

.calendar-month__day:not(.calendar-month__day_in-past):hover
{
    line-height: 30px;

    width: 30px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
}

.calendar-month__day_weekend
{
    color: #f92400;
}

.calendar-month__day_selected
{
    background: #fff1a8;
}

.calendar-month__day_in-past
{
    cursor: default;

    opacity: 0.5;
}
