.calendar_month
{
    position: relative;
    width: 224px;
    display: inline-block;
}

.calendar_month .calendar__month-name
{
    font-size: 14px;
    line-height: 32px;

    margin: 0 0 -32px;

    text-transform: uppercase;

    color: #999;
}

.calendar_month .calendar__month-name:after
{
    display: inline-block;

    width: 100%;
    height: 32px;

    content: '';
    vertical-align: top;
}

.calendar_month .calendar__month-name_startDay_2:after
{
    width: 192px;
}
.calendar_month .calendar__month-name_startDay_2 + .calendar__day
{
    margin-left: 32px;
}

.calendar_month .calendar__month-name_startDay_3:after
{
    width: 160px;
}
.calendar_month .calendar__month-name_startDay_3 + .calendar__day
{
    margin-left: 64px;
}

.calendar_month .calendar__month-name_startDay_4:after
{
    width: 128px;
}
.calendar_month .calendar__month-name_startDay_4 + .calendar__day
{
    margin-left: 96px;
}

.calendar_month .calendar__month-name_startDay_5:after
{
    width: 96px;
}
.calendar_month .calendar__month-name_startDay_5 + .calendar__day
{
    margin-left: 128px;
}

.calendar_month .calendar__month-name_startDay_6:after
{
    width: 64px;
}
.calendar_month .calendar__month-name_startDay_6 + .calendar__day
{
    margin-left: 160px;
}

.calendar_month .calendar__month-name_startDay_7:after
{
    width: 32px;
}
.calendar_month .calendar__month-name_startDay_7 + .calendar__day
{
    margin-left: 192px;
}
